@model GYF.Models.Admin
@{
    ViewBag.Title = "DistributePaymentPassword";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}


@using (Html.BeginForm("DistiributePayemntToMembers", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
     <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold"> </span> - Distribute Payment</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->

    <div class="content">

        <div class="row">
            <div class="col-xl-12">
                <!-- Marketing campaigns -->
                <div class="card">
                    <div class="card-header header-elements-sm-inline">
                        <h6 class="card-title">Distribute Payment</h6>
                    </div>
                    <div class="card-header">

                        <p style="color: red">
                            @TempData["DistributePayment"]
                        </p>
                    </div>


                    <div class="row">
                        <div class="">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}