@model GYF.Models.Admin
@{
    ViewBag.Title = "UploadBanner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UploadBanner", "Admin", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
  <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Banner</span> - Upload Banner</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->

    <div class="content">
        <div class="row">
            <div class="col-xl-12">
                <!-- Marketing campaigns -->
                <div class="card">
                    <div class="card-header">

                        <p style="color: red">
                            @TempData["Banner"]
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mx-auto">
                                <div class="row ">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label>
                                                Banner Image
                                            </label>
                                            <input type="file" id="postedFile" class="form-control" name="postedFile" onchange="readURL(this)" />

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <input type="submit" class="btn btn-info" name="btnsave" id="btnsave" style="margin-top:25px" value="Upload" onclick="return ValidateForm();" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <img src="@Model.BannerImage" id="ContentPlaceHolder1_imgProductImage" class="fileinput-preview thumbnail" style="width: 150px; height: 100px;" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered w-100 mb-0" id="example24">
                            <thead>
                                <tr>

                                    <th>Sr No.</th>
                                    <th>Image</th>
                                    <th>Action</th>

                                </tr>

                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstBanner != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstBanner)
                                        {
                                            <tr class="text-left">

                                                <td>
                                                    @i
                                                </td>
                                                <td><img src="@Item.BannerImage" height="100" width="100" /></td>
                                                <td>
                                                    <a href="/Admin/UploadBanner?id=@Item.PK_BannerId" class="btn btn-primary">Edit</a>
                                                    <a href="/Admin/DeleteBannerImage?Id=@Item.PK_BannerId" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                            i++;
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script>
    function ValidateForm() {
        $(".errortext").removeClass("errortext");
        if ($("#postedFile").val() === "") {
            $("#postedFile").addClass("errortext");
            $("#postedFile").focus();
            return false;
        }
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ContentPlaceHolder1_imgProductImage')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#postedFile").change(function () {
        debugger;
        var file = $("#postedFile").val();
        var len = file.length;
        var ext = file.slice(len - 4, len);
        if (ext.toLowerCase() == ".png" || ext.toLowerCase() == ".jpg" || ext.toLowerCase() == ".jpeg" || ext.toLowerCase() == "jpeg") {

        }
        else {
            alert('Only Image file allowed !')
            $("#postedFile").val('');
        }
    });
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>