@model GYF.Models.Associate
@{
    ViewBag.Title = "PayoutRequest";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
@using (Html.BeginForm("PayoutRequest", "Associate", FormMethod.Post, new { id = "form" }))
{

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Payout Wallet</span> - Payout Request</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->

    <div class="content">
        <div class="row">
            <div class="col-xl-12">
                <!-- Marketing campaigns -->
                <div class="card">
                    <div class="card-header header-elements-sm-inline">
                        <h6 class="card-title">Payout Request</h6>

                    </div>
                    <div class="card-header">

                        <p style="color: red">
                            @TempData["PayoutRequest"]
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mx-auto">
                                <span style="color:red;"><b>Wallet Amount  : @ViewBag.PayoutWallet</b> </span>
                                <div class="row ">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label>
                                                Login Id
                                            </label>
                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @disabled="true"})

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberOrDecimal(event);"} )

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <input type="submit" class="btn btn-info" name="btnsave" id="btnsave" style="margin-top:25px" value="Save" onclick="return ValidateForm();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    function ValidateForm()
    {
        $(".errortext").removeClass("errortext")
        if ($("#Amount").val() === "") {
            $("#Amount").addClass("errortext");
            $("#Amount").focus();
            return false;

        }
        if ($("#LoginId").val() === "") {
            $("#LoginId").addClass("errortext");
            $("#LoginId").focus();
            return false;

        }
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
  