
@{
    ViewBag.Title = "BankDetails";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<section class="page-title" style="background-image:url(../../Websitecss/images/background/2.1.jpg)">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="pull-left">
                <h1>Bank Details</h1>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="/Main/Index">Home</a></li>
                    <li>Bank Details</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Bank Details -->
<section class="why-choose-us">
    <div class="layer-images">
        <figure class="layer-1"></figure>
        <figure class="layer-2"></figure>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-12">
                <img src="../../Websitecss/images/bank-details.png" alt="" />
            </div>
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-12">
                <img src="../../Websitecss/images/bank-details.png" alt="" />
            </div>
            <!-- Column -->
            <div class="column col-lg-4 col-md-4 col-sm-12">
                <img src="../../Websitecss/images/bank-details.png" alt="" />
            </div>
        </div>
    </div>
</section>