
@{
    ViewBag.Title = "BankDetails";
    Layout = "~/Views/Shared/_BankDetailsLayout.cshtml";
}
<div id="carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url('../AdminCss/assets/img/bank-banner.jpg'); background-size: cover; ">
            <div class="caption">
                <h1>Bank Details</h1>
            </div>
        </div>
    </div>
</div>

<main id="main">


    <!-- ======= Bank Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="section-title">
                <span>BANK DETAIL</span>
                <h2>BANK DETAIL</h2>
            </div>
            <div class="row">

                <div class="col-lg-6 align-items-stretch">
                    <div class="portfolio-info">
                        <h3>Account Details</h3>
                        <ul>
                            <li><strong>Account Number</strong>: 50200060996304</li>
                            <li><strong>IFSC</strong>: HDFC0004805</li>
                            <li><strong>Branch Name</strong>: Vibhuti Khand</li>
                        </ul>
                    </div>
                    <div class="portfolio-info">
                        <h3>UPI</h3>
                        <ul>
                            <li><strong>UPI Id</strong>: Grazieforyou@hdfcbank</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 align-items-stretch text-center">
                    <img src="~/AdminCss/assets/img/bank.jpg" class="animated">
                </div>
            </div>
        </div>
    </section>


    <!-- ======= Bank Section ======= -->
</main>
<!-------==========Whatsapp==================---------->
<a href="https://wa.me/message/TL4R5ZYK44JIM1" title="gfy" class="float" target="_blank">
    <i class="bi bi-whatsapp my-float"></i>
</a>


<!-------==========Whatsapp==================---------->