
@{
    ViewBag.Title = "CompanyOverView";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}





<div id="carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url('../AdminCss/assets/img/about-banner.jpg'); background-size: cover; ">
            <div class="caption">
                <h1>About</h1>
            </div>
        </div>
    </div>
</div>

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="~/AdminCss/assets/img/about.png" class="img-fluid animated" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Welcome to <span class="gfy">GFY</span></h3>
                    <p class="text-justify">
                        Welcome to the worlds fastest growing plan which is a part helping hand company . the opportunity of the millennium is waiting for you.
                    </p>
                    <p class="text-justify">
                        The business plan of <span class="fst-italic">“Grazieforyou.in”</span> is a platform that has single leg & well designed trustworthy investment plan that ensure clear and fast returns.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” encourages clients to explore in terms of financial stability.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” single leg plans are an inherently rewarding scheme that is structured around a member getting their commissions according to the target achieved by their down team members.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>It has extra profitable features that prove to be extremely viable in creating a steady & sensible oneway growth structure.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” vision is to build a future of financial evolution & Our mission is built on creating profitable plans for our clients.</li>
                    </ul>
                </div>
                <p class="mt-5 text-justify">
                    At GRAZIE FOR YOU, we believe in creating ” A Tradition of Trust” and we know it is not easy at all but we never let any stone unturned when it comes to offering a product and finally delivering to our satisfied clients and it is your trust that is pushing us to do intense research before developing a project and offering at right time where your investment flourishes and you see it growing
                </p>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts cta">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-4 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Solutions Partners</p>
                </div>

                <div class="col-lg-4 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Experts Network</p>
                </div>

                <div class="col-lg-4 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Happy Entrepreneurs</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <span>Testimonials</span>
                <h2>Testimonials</h2>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "GFY is a professional, well-mannered, competitively priced, punctual, and talented Company in India that provides excellent service to all clients. Thanks for the outstanding work."
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <!-- <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
                            <h3>Kavya Singh</h3>
                            <!-- <h4>Ceo &amp; Founder</h4> -->
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "An amazing experience, Very proficient! The end result is just what I was exploring for, and it was formed in a very appropriate manner. I have previously recommended GFY!"
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <h3>Mr. Vishal Singh</h3>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "I would like to take this opportunity to thanks everyone at Grazieforyou.in Services for always being kind and helpful. And I really appreciate the manner that was done by all staffs who I have been dealt with."
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <h3>Mr. Shubham Bhatt</h3>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center">
                <h3>Provide You The Highest Quality Work That Meets Your Expectation.</h3>
                <!-- <p>Provide You The Highest Quality Work That Meets Your Expectation.</p> -->
                <a class="cta-btn" href="#">Read More</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

</main><!-- End #main -->
<!-------==========Whatsapp==================---------->
<a href="https://wa.me/message/TL4R5ZYK44JIM1" title="gfy" class="float" target="_blank">
    <i class="bi bi-whatsapp my-float"></i>
</a>


<!-------==========Whatsapp==================---------->













