
@{
    ViewBag.Title = "CompanyOverView";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../Websitecss/images/background/2.1.jpg)">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="pull-left">
                <h1>Company Overview</h1>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="/Main/Index">Home</a></li>
                    <li>Company Overview</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- About Section -->
<section class="about-section-two style-two">
    <div class="auto-container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Welcome to</span>
                        <h2>GFY</h2>
                        <div class="seperater style-two"></div>
                    </div>
                    <div class="text">
                        <p>
                            Welcome to the worlds fastest growing plan which is a part helping hand company
                            . the opportunity of the millennium is waiting for you.
                        </p>
                        <p>
                            The business plan of “ Grazieforyou.in” is a platform that has single leg & well
                            designed trustworthy investment plan that ensure clear and fast returns.
                        </p>
                        <p>
                            “GFY” encourages clients to explore in terms of financial stability .
                        </p>
                        <p>
                            “GFY” single leg plans are an inherently rewarding scheme that is structured
                            around a member getting their commissions according to the target achieved by their
                            down team members.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="text-layer">A</div>
                    <figure class="image-1 wow fadeInUp">
                        <a href="../../Websitecss/images/image-5.jpg" class="lightbox-image"
                           data-fancybox="images"><img src="../../Websitecss/images/image-5.jpg" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="text">
                    <p>
                        It has extra profitable features that prove to be extremely viable in creating a
                        steady & sensible oneway growth structure.
                    </p>
                    <p>
                        GFY vision is to build a future of financial evolution & Our mission is built on
                        creating profitable plans for our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>