@model GYF.Models.Home
@{
    ViewBag.Title = "Confirm Registration";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<br/>
<div class="container mt-5">
    <h6 style="color: red"></h6>
    <div class="row">
            <div class="col-md-6 card offset-3 mt-5" style="border:2px solid #57a695;box-shadow:0px 0px 5px gray">
                <div class="card-body text-center">
                  <h2 style="color:#0fad00">Success</h2>
                    <img src="~/Websitecss/images/user.png" style="height:150px" />
                    <h3 style="color:#0a0a0a" class="mt-3">Dear, @Session["DisplayName"]</h3>
                    <p style="font-size:20px;color:#0a0a0a;">
                        Thank you for your registration. Now you are GYF Associate.Your Details are as Below:
                        <br />
                        <span class="border-box">Login ID: @Session["LoginId"]</span>
                        <span class="border-box">Password:  @Session["Password"]</span>
                    </p>
                    @*<a href="/Main/Login" class="btn btn-primary">     Back To Login     </a>*@
                    <a href="/Main/Registration" class="btn btn-info">    Add New    </a>
                    <br><br>
                </div>
        </div>

    </div>
</div>

