@model GYF.Models.Home

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}



@using (Html.BeginForm("ForgetPassword", "Main", FormMethod.Post, new { @id = "signupForm", @class = "md-float-material form-material" }))
{
    <div class="row" style="margin-top:150px;margin-bottom:50px;">

        <div class="col-lg-4"></div>
        <div class="col-lg-4 logindesign" style="float:left;background-color:#57a695">
            <div class="card-body">
                <h6 style="color: red"></h6>
                <span style="color:red">@TempData["Login"]</span>
                <div class="row">
                    <div class="form-group col-md-1 col-sm-12">
                       
                    </div>

                    <div class="form-group col-md-10 col-sm-12">
                        <h5 style="text-align:center;color:white;">Forget Password</h5>
                        <label style="color:white">Login Id</label>
                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", placeholder = "Login Id" })

                    </div>
                    <div class="form-group col-md-1 col-sm-12">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-1 col-sm-12">
                    </div>
                    @*<div class="form-group col-md-10 col-sm-12">
                        <label style="color:white">Email Id</label>
                        @Html.PasswordFor(m => m.Email, new { @class = "form-control", placeholder = "Email Id" })

                    </div>*@
                    <div class="form-group col-md-1 col-sm-12">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-1 col-sm-12">
                    </div>
                    <div class="form-group col-md-10 col-sm-12">
                        <input type="submit" id="forgetpassword" class="btn btn-info btn-block btn-flat margin-top-10" name="forgetpassword"
                               value="Submit"  onclick="return validateform();">
                    </div>
                    <div class="form-group col-md-1 col-sm-12">
                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-4" style="float:left"></div>
    </div>

}


<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function validateform() {
        $(".errortext").removeClass("errortext");


        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }

        //if ($('#Email').val() == '') {
        //    $("#Email").addClass('errortext');
        //    $('#Email').focus();
        //    return false;
        //}
        $("#divload").css({ 'display': '' });
        return true;
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

