
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<section class="main-slider">
    <div class="main-slider-carousel owl-carousel owl-theme">
        <div class="slide" style="background-image:url(../../Websitecss/images/main-slider/slider1.jpg)">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="title">Welcome to GFY</div>
                        <h2>The Best Solution <br> For Our Business</h2>
                        <div class="link-box clearfix">
                            <a href="/Main/ContactUs" class="theme-btn btn-style-three">
                                <span class="txt">
                                    Read
                                    More
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image:url(../../Websitecss/images/main-slider/slider2.jpg)">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="title">Welcome to GFY</div>
                        <h2>Best Retail Product <br> Provider in INDIA</h2>
                        <div class="link-box clearfix">
                            <a href="/Main/ContactUs" class="theme-btn btn-style-three">
                                <span class="txt">
                                    Read
                                    More
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image:url(../../Websitecss/images/main-slider/slider3.jpg)">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="title">Welcome to GFY</div>
                        <h2>Social <br> Distancing</h2>
                        <div class="link-box clearfix">
                            <a href="/Main/ContactUs" class="theme-btn btn-style-three">
                                <span class="txt">
                                    Read
                                    More
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--End Main Slider-->
<!-- About Section -->
<section class="about-section-two style-two">
    <div class="auto-container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Welcome to</span>
                        <h2>GFY</h2>
                        <div class="seperater style-two"></div>
                    </div>
                    <div class="text">
                        <p>
                            Welcome to the worlds fastest growing plan which is a part helping hand company
                            . the opportunity of the millennium is waiting for you.
                        </p>
                        <p>
                            The business plan of “ Grazieforyou.in” is a platform that has single leg & well
                            designed trustworthy investment plan that ensure clear and fast returns.
                        </p>
                        <p>
                            “GFY” encourages clients to explore in terms of financial stability .
                        </p>
                    </div>
                    <div class="btn-box">
                        <a href="/Main/CompanyOverView" class="theme-btn btn-style-four">
                            <span class="txt">
                                Read
                                More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="text-layer">A</div>
                    <figure class="image-1 wow fadeInUp">
                        <a href="../../Websitecss/images/image-5.jpg" class="lightbox-image"
                           data-fancybox="images"><img src="../../Websitecss/images/image-5.jpg" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Emd About Section -->
<!-- Call To Action -->
<section class="call-to-action" style="background-image: url(../../Websitecss/images/background/2.1.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <h2>Provide You The Highest Quality Work <br>That Meets Your Expectation.</h2>
            <div class="link-box text-center">
                <a href="/Main/ContactUs" class="theme-btn btn-style-three"><span class="txt">Read More</span></a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action -->
<!-- Why Choose Us -->
<section class="why-choose-us">
    <div class="layer-images">
        <figure class="layer-1"></figure>
        <figure class="layer-2"></figure>
    </div>
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>Mission & Vision</h2>
            <div class="seperater style-two"></div>
        </div>
        <div class="row clearfix">
            <!-- Column -->
            <div class="column col-lg-7 col-md-7 col-sm-12">
                <div class="mvtext">
                    The mission and vision is equally and critically important for the company
                    maturation and success and become the foundation on which the organization built.
                </div>
                <div class="mvtext">
                    Your Vision Statement set the direction on which your ownership and management group wants
                    the organization will strive to reach.
                </div>
                <div class="mvtext">
                    Your Mission Statement represents attitude, approach, and acumen on which how your company
                    will conduct business on a daily basis.
                </div>
                <div class="mvtext">
                    Your Purpose Statement states the reason on which your business was formed and the driving
                    force behind why you are in business. The purpose is the reason your business was formed.
                </div>
            </div>
            <!-- Column -->
            <div class="column col-lg-5 col-md-5 col-sm-12">
                <!--Video Box-->
                <div class="video-box-two">
                    <div class="image">
                        <img src="../../Websitecss/images/vision-nd-mision.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Choose Us -->
<!-- Projects Section -->
<section class="projects-section project-page-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>Our Gallery</h2>
            <div class="seperater"></div>
        </div>
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <div class="filter-list row clearfix">
                <!-- Project Block -->
                <div class="project-block mix manufacture mechanical col-lg-4 col-md-4 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../../Websitecss/images/gallery/1.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="../../Websitecss/images/gallery/1.jpg" class="plus-icon lightbox-image"
                                   data-fancybox-group="gallery-one"><span class="icon fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block mix manufacture mechanical col-lg-4 col-md-4 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../../Websitecss/images/gallery/2.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="../../Websitecss/images/gallery/2.jpg" class="plus-icon lightbox-image"
                                   data-fancybox-group="gallery-one"><span class="icon fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block mix manufacture mechanical col-lg-4 col-md-4 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../../Websitecss/images/gallery/3.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="../../Websitecss/images/gallery/3.jpg" class="plus-icon lightbox-image"
                                   data-fancybox-group="gallery-one"><span class="icon fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="/Main/Gallery" type="button" class="theme-btn btn-style-one add-to-cart">
                <span class="txt">
                    View
                    More
                </span>
            </a>
        </div>
    </div>
</section>
<!-- End Projects Section -->
<!-- Services Section -->
<section class="services-section-five">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="title">FEATURED CAUSES</span>
            <h2>Some Good Causes</h2>
            <div class="seperater style-two"></div>
        </div>
        <!-- Services Carousel -->
        <div class="services-carousel owl-carousel owl-theme">
            <!-- Service Block -->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Websitecss/images/some-good-causes/1.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
            <!-- Service Block -->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Websitecss/images/some-good-causes/2.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
            <!-- Service Block -->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Websitecss/images/some-good-causes/3.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
            <!-- Service Block -->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="../../Websitecss/images/some-good-causes/4.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Services Section -->
<!-- Testimonials and Clients -->
<section class="testimonials-and-clients">
    <div class="auto-container">
        <div class="row">
            <!-- Testimonial Column -->
            <div class="testimonial-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Clients</span>
                        <h2>Our Clients Reviews</h2>
                        <div class="seperater style-two"></div>
                    </div>
                    <div class="testimonial-carousel owl-carousel owl-theme">
                        <!-- Testimonial BLock -->
                        <div class="testimonial-block-five">
                            <div class="inner-box">
                                <span class="icon flaticon-right-quotation-sign"></span>
                                <div class="text">
                                    An amazing experience, Very proficient! The end result is just
                                    what I was exploring for, and it was formed in a very appropriate manner. I
                                    have previously recommended GFY!"
                                </div>
                                <div class="info-box">
                                    <div class="thumb"><img src="../../Websitecss/images/resource/thumb-1.jpg" alt=""></div>
                                    <h4 class="name">Mr. Vishal Singh</h4>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star light"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial BLock -->
                        <div class="testimonial-block-five">
                            <div class="inner-box">
                                <span class="icon flaticon-right-quotation-sign"></span>
                                <div class="text">
                                    I would like to take this opportunity to thanks everyone at
                                    Grazieforyou.in Services for always being kind and helpful. And I really
                                    appreciate the manner that was done by all staffs who I have been dealt
                                    with.
                                </div>
                                <div class="info-box">
                                    <div class="thumb"><img src="../../Websitecss/images/resource/thumb-1.jpg" alt=""></div>
                                    <h4 class="name">Mr. Shubham Bhatt</h4>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star light"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial BLock -->
                        <div class="testimonial-block-five">
                            <div class="inner-box">
                                <span class="icon flaticon-right-quotation-sign"></span>
                                <div class="text">
                                    " GFY is a professional, well-mannered, competitively
                                    priced, punctual, and talented Company in India that provides excellent
                                    service to all clients. Thanks for the outstanding work."
                                </div>
                                <div class="info-box">
                                    <div class="thumb"><img src="../../Websitecss/images/resource/thumb-1.jpg" alt=""></div>
                                    <h4 class="name">Kavya Singh</h4>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star light"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Clients Column -->
            <div class="clients-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box wow fadeInRight">
                        <figure class="image"><img src="../../Websitecss/images/image-3.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../../Websitecss/js/jquery.js"></script>
<script>
    $(document).ready(function () {
         getnewsdata();
           
    });
    function getnewsdata()
    {
        $.ajax({
            url: '/Main/GetNewsList', type: 'post', dataType: 'json',
            data: { }, success: function (data) {

                if (data.Result == "1") {
                 
                    $('#title').text(data.Title);
                    $('#Description').text(data.Description);
                    $("#myModal").modal('show');
                }
              
            }

        });

        
    }
</script>
<div id="myModal" class="modal fade" style="z-index: 99999999;" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="top:18px">
            <div class="modal-header" style="background: #DB353A;
    color: white;
    text-align: center;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="position: absolute;"><span id="title"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newyear">
                            <p id="Description" style="font-size:26px;font-weight:900;font-family: cursive;"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
