
@{
    ViewBag.Title = "VissionMission";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<section class="page-title" style="background-image:url(../../Websitecss/images/background/2.1.jpg)">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="pull-left">
                <h1>Mission & Vision</h1>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="/Main/Index">Home</a></li>
                    <li>Mission & Vision</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Mission and Vision -->
<section class="why-choose-us">
    <div class="layer-images">
        <figure class="layer-1"></figure>
        <figure class="layer-2"></figure>
    </div>
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>Mission & Vision</h2>
            <div class="seperater style-two"></div>
        </div>
        <div class="row clearfix">
            <!-- Column -->
            <div class="column col-lg-7 col-md-7 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Director's Message</span>

                        <div class="seperater style-two"></div>
                    </div>
                    <div class="text">
                        <p>
                            Welcome to the worlds fastest growing plan which is a part helping hand company
                            . the opportunity of the millennium is waiting for you.
                        </p>
                        <p>
                            The business plan of “ Grazieforyou.in” is a platform that has single leg & well
                            designed trustworthy investment plan that ensure clear and fast returns.
                        </p>
                        <p>
                            “GFY” encourages clients to explore in terms of financial stability .
                        </p>
                        <p>
                            “GFY” single leg plans are an inherently rewarding scheme that is structured
                            around a member getting their commissions according to the target achieved by their
                            down team members.
                        </p>
                        <p>
                            It has extra profitable features that prove to be extremely viable in creating a
                            steady & sensible oneway growth structure.
                        </p>
                        <p>
                            GFY vision is to build a future of financial evolution & Our mission is built on
                            creating profitable plans for our clients.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="column col-lg-5 col-md-5 col-sm-12">
                <!--Video Box-->
                <div class="video-box-two">
                    <div class="image">
                        <img src="../../Websitecss/images/Director.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
