
@{
    ViewBag.Title = "Mission & Vision ";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('../AdminCss/assets/img/vm-banner.png'); background-size: cover; ">
            <div class="caption">
                <h1>Mission & Vision</h1>
            </div>
        </div>
    </div>
</div>

<main id="main">

    <section id="about" class="about">
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-7 pt-4 pt-lg-0 content text-justify">
                    <h3 class="mb-3"><span class="gfy">Director's Message</span></h3>
                    <p>
                        The basics of business is to stay as close as possible to your customers—understand their behavior, their preferences, their purchasing patterns, etc and invite your friends, can make you money. You’ll love our referral program.
                    </p>
                    <p>
                        Welcome to the worlds fastest growing plan which is a part helping hand company the opportunity of the millennium is waiting for you.
                    </p>
                    <p>The business plan of Grazieforyou.in' is a platform that has single leg & well designed trustworthy investment plan that ensure clear and fast returns.</p>
                    <ul>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” encourages clients to explore in terms of financial stability.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” single leg plans are an inherently rewarding scheme that is structured around a member getting their commissions according to the target achieved by their down team members.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>It has extra profitable features that prove to be extremely visible in creating a steady & sensible one way growth structure.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” vision is to build a future of financial evolution.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <img src="~/AdminCss/assets/img/director.jpg" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
                <!-- ======= Services Section ======= -->
                <section id="services" class="services section-bg">
                    <div class="container">
                        <div class="section-title">
                            <span>Mission</span>
                            <h2>Mission</h2>
                        </div>
                        <div class="section-title">
                            <p>Every day push our boundaries intending to build happy spaces for people. Customer satisfaction is our priority and creating value for stakeholders is what we strive to do. Through professionalism, transparency and quality, we’ve come a long way in the real estate industry and there is still far to go.</p>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                                <div class="icon-box">
                                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                    <h4><a href="">Customer Satisfaction</a></h4>
                                    <p class="text-justify">The basics of business is to stay as close as possible to your customers—understand their behavior, their preferences, their purchasing patterns, etc.</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                                <div class="icon-box">
                                    <div class="icon"><i class="bx bx-file"></i></div>
                                    <h4><a href="">Create Value</a></h4>
                                    <p class="text-justify">All our dreams can come true, if we have the courage to pursue them.</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                <div class="icon-box">
                                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                                    <h4><a href="">Professionalism</a></h4>
                                    <p class="text-justify">Without hard work and discipline it is difficult to be a top professional.</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                                <div class="icon-box">
                                    <div class="icon"><i class="bx bx-world"></i></div>
                                    <h4><a href="">Transparency</a></h4>
                                    <p class="text-justify">Transparency, honesty, kindness, good stewardship, even humor, work in businesses at all times.</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                                <div class="icon-box">
                                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                                    <h4><a href="">Quality</a></h4>
                                    <p class="text-justify"> Give your clients the earliest delivery consistent with quality - whatever the inconvenience to us.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </section><!-- End Services Section -->
                <!-- ======= vision Section ======= -->
                <section id="about" class="about">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <div class="section-title">
                                    <span>Vision</span>
                                    <h2>Vision</h2>
                                </div>
                                <p>
                                    To understand our social responsibility and be a trusted leader in the All service provider sector contributing towards a progressive India.
                                </p>
                            </div>
                            <div class="col-lg-6 text-center">
                                <img src="~/AdminCss/assets/img/vm.png" class="img-fluid animated" alt="">
                            </div>
                        </div>

                    </div>
                </section><!-- End vision Section -->
                <!-- ======= Motto Section ======= -->
                <section id="featured-services" class="featured-services">
                    <div class="container">
                        <div class="section-title">
                            <span>Motto</span>
                            <h2>Motto</h2>
                        </div>
                        <p>
                            As our motto itself says, we turn Dreams Into Reality. Our clients are the focus of everything we do. We anticipate their needs, and create value in our products and services. Growth is our passion and our continual improvement revolves around 3 main objectives
                        </p>
                        <div class="row my-5">
                            <div class="col-lg-4 col-md-6">
                                <div class="icon-box">
                                    <div class="icon"><i class="bi bi-laptop"></i></div>
                                    <h4 class="title"><a href="">Client Satisfaction</a></h4>
                                    <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> -->
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                                <div class="icon-box">
                                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                                    <h4 class="title"><a href="">Knowledge Sharing</a></h4>
                                    <!-- <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p> -->
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                                <div class="icon-box">
                                    <div class="icon"><i class="bi bi-clipboard-data"></i></div>
                                    <h4 class="title"><a href="">Business Growth</a></h4>
                                    <!-- <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </section><!-- End Motto Section -->

</main><!-- End #main -->
<!-------==========Whatsapp==================---------->
<a href="https://api.whatsapp.com/send?phone=7376793554&text=Hello" title="gfy" class="float" target="_blank">
    <i class="bi bi-whatsapp my-float"></i>
</a>


<!-------==========Whatsapp==================---------->










